<appSettings>				<!-- from web.config -->	
	<add key="MapsKey" value="xxxAPI_KEYxx" />  <!-- Add this config file to have my Googe API key and more settings in a safety location, avoid to upload personal information to Github -->
	<add key="emailCredentialvalue" value="xxxxx" />  <!-- address emailCredentialvalue to send email for contact users -->
	<add key="passEmailCredentialvalue" value="xxxxx" />  <!-- pass emailCredentialvalue to send email for contact users -->
	<add key="testRecipientEmailCredentialvalue" value="xxxxx" />  <!-- test address Recipient emailCredentialvalue to sent email for contact users -->
</appSettings>