
@{
    ViewBag.Title = "ContactUserFoundObject";
}
@{
    int id = ViewBag.idObject;
}

<html>
    <body>
        <h2>Send a Message to user</h2>
        <p>
            Message to <b>@ViewBag.userName</b>
        <p>
            Object: <b>@ViewBag.titleObject</b>
        <p>
        <form id="formMessage" action="/UsersContact/SendRequestUser" method="post">
            <table>
                <tr>
                    <td></td>
                    <td>
                        Please write in the message the information about the security Question<p></p> 
                        <b>Security Question:</b> @ViewBag.securityQuestion<p></p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.Hidden("id", id)
                        Please, write your message<p></p>
                        <textarea id="textMessage" class="text" cols="46" rows="10" name="TextMessage"></textarea>
                    </td> 
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p>As you are not a registered user, you have to write your contact email. Are you Okay with this? <input id="emailCheckUserLostObject" type="checkbox" required name="emailCheckUserLostObject"  value="checked"></p>
                        Please, write your email address <input id="emailUserLostObject" class="text" type="email" required name="emailUserLostObject">
                        <p></p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input id="submit" type="submit" value="Send Request" />
                    </td>
                </tr>
            </table>
        </form>
        
</body>
</html>

<script type="text/javascript" language="JavaScript">

</script>