
@{
    ViewBag.Title = "ContactUserFoundObject";
}
@{
    int id = ViewBag.idObject;
}

<html>
    <body>
        <h2>Send a message to user</h2>
        <p>
            Message to @ViewBag.userName
        <p>
            Object: @ViewBag.titleObject
        <p>
            <form action="/UsersContact/SendRequestUser" method="post">
                <table>
                    <tr>
                        <td></td>
                        <td>
                            @Html.Hidden("id", id)
                            Please, write your message<p></p>
                            <textarea id="TextMessage" class="text" cols="46" rows="10" name="TextMessage"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Send Request" />
                        </td>
                    </tr>
                </table>
            </form>
</body>
</html>