
@{
    ViewBag.Title = "ShowMessages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
    <body>
        <h2>ShowMessages</h2>
        <p>
            Messages:<b>@ViewBag.SupportMessages</b>
        <p>
    </body>
</html>




