
@{
    ViewBag.Title = "ShowMessages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
    <body>
        <h2>ShowMessages</h2>
        <p>
            Support Messages: <b>@ViewBag.SupportMessages</b>
        </p>
        <p>
            Users Messages:<b> @ViewBag.UsersContactMessages</b>
        </p>
    </body>
</html>




