@{
    ViewBag.Title = "About";
}
<html>
<body>
    <h2>About Things Lost and Found</h2>
    <hr />
    <p>
        Things Lost and Found is a self-taught project to learn and improvements the knowledge about MVC architecture and different programming languages.
        It try developer a project the most real possible using these tools
    </p>
    <p>Technical Features:</p>
    <ul>
        <li>Architectural pattern: Model–View–Controller (MVC)</li>
        <li>Software Framework:.NET Framework 4.5.2</li>
        <li>Programming Languages: C# (C Sharp), Java Script, HTML</li>
        <li>Database: MSQlExpress 10.5, Entity Framework 6.1.3</li>
        <li>Other Tools: Google API, GoogleMaps LocationServices, jQuery, CSS, Bootstrap</li>
        <li>Security: Authentication and Authorization. Use of Cookies. Crypto using Hash and Salt</li>
    </ul>
    <p>Upcoming improvements:</p>
    <ul>
        <li>Design improvements <i>Always :)</i></li>
        <li>and more...</li>
    </ul>
    <p>To try the application:</p>
    <ul>
        <li>Admin mode: User Name: <b>test</b> , Password: <b>test</b></li>
        <li>User mode:  User Name: <b>test3</b> , Password: <b>test3</b></li>
    </ul>
    <p>Source Code Available <a target="_blank" href="https://github.com/rnieva/ThingsLostAndFound">here</a></p>
    <hr />
    <p></p>
</body>
</html>