@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Roberto Nieva <br />
    <br />
    Edinburgh<br />
    <abbr title="Phone">Phone:</abbr>
    0700 123456
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:roberto.nieva@gmail.com">roberto.nieva@gmail.com</a><br />
</address>