
@{
    ViewBag.Title = "CreateObjMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
    <body>
        <h3>You must be a registered user</h3>
        <div align="center">
            <p><a class="loginBtn" @Html.ActionLink("Log in", "Login", "Login")</a></p>
        </div>
    </body>
</html>

